<div class="container">
  <div *ngIf="music.length > 0 else loading">


    <div class="content">
      <div class="logo">
        <img [src]="music[0].artworkUrl100">
        <div>{{music[0].artistName}}</div>
      </div>

      <mat-list color="primary">
        <h3 mat-subheader>Songs</h3>

        <mat-list-item *ngFor="let track of music; let i = index" (click)="openTrack(track, i)">
          <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
          <h4 mat-line>{{ track.trackName }}</h4>
          <h5 mat-line>by {{ track.artistName }}</h5>
          <p>{{formatTime(track.trackTimeMillis)}}</p>
          <mat-icon color="primary" *ngIf="currentTrack.index === i && !state?.error">volume_up</mat-icon>
          <h6 *ngIf="currentTrack.index === i && state?.error">ERROR</h6>
          <mat-divider></mat-divider>
        </mat-list-item>


      </mat-list>
    </div>

    <div class="media-footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row *ngIf="!auth.currentUserValue">
          <p>Не авторизованному пользователю доступны только 15 секунд</p>
        </mat-toolbar-row>
        <mat-toolbar-row>
          {{ state?.readableCurrentTime }}
          <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                      (input)="onSliderChangeEnd($event)"
                      [disabled]="state?.error || currentTrack.index === undefined"></mat-slider>
          {{ state?.readableDuration }}
          <mat-slider class="volume-slider" min="0" [max]="1" step="0.1" [value]="state?.currentVolume"
                      (input)="onVolumeChangeEnd($event)"
                      [disabled]="state?.error || currentTrack.index === undefined"></mat-slider>
        </mat-toolbar-row>

        <mat-toolbar-row class="media-action-bar">
          <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
          </button>

          <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
            <mat-icon mat-list-icon>play_circle_filled</mat-icon>
          </button>

          <button mat-button (click)="pause()" *ngIf="state?.playing">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>

          <button mat-button [disabled]="isLastPlaying()" (click)="next()">
            <mat-icon mat-list-icon>skip_next</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

  </div>
  <ng-template #loading>

    <p>Loading</p>


  </ng-template>
</div>

